Package: openvswitch-vtep
Source: openvswitch
Version: 2.1.90-1
Architecture: amd64
Maintainer: Open vSwitch developers <dev@openvswitch.org>
Installed-Size: 533
Depends: libc6 (>= 2.14), libssl1.0.0 (>= 1.0.0), openvswitch-common (>= 2.1.90-1), openvswitch-switch (>= 2.1.90-1), python, python-openvswitch (>= 2.1.90-1)
Section: net
Priority: extra
Homepage: http://openvswitch.org/
Description: Open vSwitch VTEP utilities
 Open vSwitch is a production quality, multilayer, software-based, Ethernet
 virtual switch. It is designed to enable massive network automation through
 programmatic extension, while still supporting standard management interfaces
 and protocols (e.g. NetFlow, sFlow, SPAN, RSPAN, CLI, LACP, 802.1ag). In
 addition, it is designed to support distribution across multiple physical
 servers similar to VMware's vNetwork distributed vswitch or Cisco's Nexus
 1000V.
 .
 This package provides utilities that are useful to interact with a
 VTEP-configured database and a VTEP emulator.
